.gradle/6.8.3/executionHistory/executionHistory.bin
.gradle/6.8.3/executionHistory/executionHistory.lock
.gradle/6.8.3/fileChanges/last-build.bin
.gradle/6.8.3/fileHashes/fileHashes.bin
.gradle/6.8.3/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/configuration-cache/gc.properties
.gradle/vcs-1/gc.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gradle/6.8.3/gc.properties
